<div class="container">
  <div class="header_content">
    <div class="header_block">
      <div class="call_block">
        <h1>Call - +992 550 500 499</h1>
      </div>

      <img src="assets/img/logo.png" alt="" srcset="">

      <button class="reservation">Reservation</button>
    </div>

    <div class="header-block_navbar">
      <div class="header-items_navbar">
        <h1>Home</h1>
        <h1>About Us</h1>
        <h1>Our Menu</h1>
        <h1>Pages</h1>
        <h1>Blog</h1>
        <h1>Contact Us</h1>
      </div>

      <div class="header-socials_navbar">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-pinterest"></i>
      </div>
    </div>
  </div>

  <div class="main_content">
    <div class="main_items">
      <h1 class="main_title">Welcome to BRJ'S Restaurant</h1>
      <h2 class="main_description">The people, food and the prime locations make the perfect place good friends & family
        to come together and have great time.</h2>
      <button class="viewMenu">View Menu</button>
    </div>

    <img src="assets/img/mianBack.png" alt="">
  </div>
</div>

<div class="section_container">
  <div class="section_content">
    <div class="workTime_content">
      <div class="workTime_block">
        <div class="workTime_item">
          <img src="./assets/img/location.svg" alt="">
        </div>
        <div class="workTime_title">
          <h1>Locate Us</h1>
          <h2>Riverside 25, San Diego, California</h2>
        </div>
      </div>

      <div class="workTime_block">
        <div class="workTime_item">
          <img src="./assets/img/timer.svg" alt="">
        </div>
        <div class="workTime_title">
          <h1>Open Hours</h1>
          <h2>Mon To Fri 9:00 AM - 9:00 PM</h2>
        </div>
      </div>

      <div class="workTime_block">
        <div class="workTime_item">
          <img src="./assets/img/list.svg" alt="">
        </div>
        <div class="workTime_title">
          <h1>Reservation</h1>
          <h2>brjrestaurant@gmail.com</h2>
        </div>
      </div>
    </div>

    <div class="storyRestaurant_content">
        <img src="./assets/img/storyBG.png" alt="">
        
        <div class="storyRestaurant_block">
            <div class="storyRestaurant_title">
                <h1>The Delicious Story</h1>
                <h2>The people, food and the prime locations make the perfect place for the friends & family to come together and have great time.</h2>
            </div>

            <div class="storyRestaurant_description">
                <div class="storyRestaurantYear">
                    <h1>2018</h1>
                    <h2>Plan for this restaurant to deliver healthy food.</h2>
                </div>

                <div class="storyRestaurantYear">
                    <h1>2022</h1>
                    <h2>Happily in the fourth year by fulfill the motto.</h2>
                </div>
            </div>

            <div class="storyRestaurant_signature">
                <h1>BRJ Khalif</h1>
                <h2>BRJKhalif</h2>
            </div>
        </div>
    </div>

    <div class="menu_content">
        <div class="menu_left_block">
            <h1 class="menu">MENU</h1>
            <h1 class="menu_title">Try Our Special dishes</h1>
            <h2 class="menu_description">Every time you perfectly dine with us, it should happy for great inspired food in an environment designed with individual touches unique to the local area.</h2>
            <img src="./assets/img/specialBG.png" alt="">
            <button class="seeAllDishes">See all dishes</button>
        </div>

        <div class="menu_right_block">
            <h1>Starters</h1>
            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>

            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>

            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>

            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>

            <h1>Main Dish</h1>
            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>

            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>

            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>

            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>

            <h1>Dessert</h1>
            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>

            <div class="menu_right_items">
                <div class="menu_right_dish">
                    <img src="./assets/img/menuDishPhoto.png" alt="">
                </div>
                <div class="menu_right_about_items">
                    <h1>Raw Scallops from Erquy</h1>
                    <h2>Shuck the scallop to that used for oysters ____________ $40</h2>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
