<div class="container">
    <div class="header_content">
        <div class="header_block">
            <div class="call_block">
                <h1>Call - +992 550 500 499</h1>
            </div>

            <img src="assets/img/logo.png" alt="" srcset="">

            <button class="reservation">Reservation</button>
        </div>

        <div class="header-block_navbar">
            <div class="header-items_navbar">
                <h1>Home</h1>
                <h1>About Us</h1>
                <h1>Our Menu</h1>
                <h1>Pages</h1>
                <h1>Blog</h1>
                <h1>Contact Us</h1>
            </div>

            <div class="header-socials_navbar">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-pinterest"></i>
            </div>
        </div>
    </div>

    <div class="main_content">
        <div class="main_items">
            <h1 class="main_title">Welcome to BRJ'S Restaurant</h1>
            <h2 class="main_description">The people, food and the prime locations make the perfect place good friends & family to come together and have great time.</h2>
            <button class="viewMenu">View Menu</button>
        </div>
        
        <img src="assets/img/mianBack.png" alt="">
    </div>
</div>
